<!DOCTYPE html>
<html>
    <head>
        <title>Welcome</title>
        <style>
            div{
                display: flex;
                justify-content: space-between;
            }
        </style>
    </head>


    <body>
        <div>
            <h3>Sucess ! Welcome , !{{user.firest_name}}</h3>
            <a href="/logout" style="float: right; ">Log Out</a>
        </div>
        <p style="color: green;">Successfully registered or (logged) in !</p>
    </body>
</html>